html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#squares-container {
  width: 90rem;
  height: 75rem;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-hole {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 30vw;
  background-color: brown;
  margin: 20px;
}

#left-square {
  height: 15vh;
  width: 15vw;
  background-color: white;
}

#right-hole {
  height: 30vh;
  width: 30vw;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
#right-square {
  height: 15vh;
  width: 15vw;
  background-color: white;
}
